html, body, div.editor, section.menu, section.canvas {
    height: 100%;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

section.menu {
    position: fixed;
    background-color: white;
    border-right: 4px solid #ddd;
    width: 300px;
}

section.menu .menu-element {
    position: relative;
    margin: 20px;
}

section.menu .menu-element > *:first-child {
    position: absolute;
}

section.canvas {
    width: 100%;
    padding-left: 300px;
    background-color: #ddd;
    overflow: auto
}

section.canvas div.page {
    background-color: white;
    border: 2px solid white;
    width: 900px;
    height: 600px;
    margin: 12px;
}

section.canvas div.page > * {
    position: absolute;
}

section.canvas div.page.drop-active {
    border: 2px solid darkseagreen;
}

div.editor .frame {
    width: 200px;
    height: 200px;
    background-color: white;
    border: 4px solid #ddd;
    box-sizing: border-box; 
    transform: translate(0px, 0px);
}