
@import 'mapp.colors.less';

html, body, div.editor, section.menu, section.canvas  {
	height: 100%;
	font-family: 'Open Sans', Arial
}

div.editor, section.menu, section.canvas {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
}
section.menu {
	background-color: white;
	position: fixed;
	width: 300px;
	padding: 1rem;

	div.page-setup {
		padding: 1rem 2rem;

		select {
			font-size: 15px;
			padding: 2px;
		}
	}

	ul {
		list-style: none;
		
		li:hover {
			color: @hxg-blue;
			cursor: pointer;
		}
	}
	
	div.properties {
		height: 300px;
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	input[type="text"] {
		width: 120px;
	}

	input.prio {
		font-weight: bold;
	}

	input.slave {
		font-style: italic;
	}
}

section.canvas {
	background-color: @hxg-lightergrey;
	padding-left: 300px;
	width: 100%;
	overflow: auto;

	div.le-canvas-container {
		padding: 20px;

		> div {
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
			
			&:focus {
				outline: none;
			}
		}
	}
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}