@import 'mapp.colors.less';
@import 'mapp.le.controls.less';
@import 'mapp.le.fonts.less';
@import 'mapp.le.icons.less';
@import 'mapp.le.hbg.less';
@import 'mapp.le.mixins.less';
@import 'mapp.le.menu.less';

* {
	box-sizing: border-box;
}

html, body, div.editor, section.menu, section.canvas  {
	height: 100%;
	font-family: open-sans, Helvetica, Roboto, Arial, sans-serif;
	font-size: 13px;
}

body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}

header {
	background-color: #ffffff;
	border-bottom: 1px solid @hxg-border;

	.banner {
		display: flex;
		flex-direction: row;
		align-items: center;
    	height: 53px;
    	width: 100%;

		.logo {
			margin: 8px 10px 0px 10px;
			font-size: 32px;
			color: #444;
		}
		.title {
			.first {
				font-size: 24px;
				font-weight: bold
			}
			
			.second {
				font-size: 16px;
				font-weight: bold;
				letter-spacing: .5px;
				text-transform: uppercase;
				color: @hxg-blue-low-alpha;
				margin-top: -4px;
			}
		}
	}

	.green-line {
		width: 100%;
    	height: 6px;
    	background-image: url(../assets/img/green-background.png);
    	background-repeat: repeat-x;
    	border: none;
	}
}

content.editor {
	display: flex;
	flex-direction: row;
	height: 100%;
}

section.menu {
	width: 250px;
	overflow: auto;
	overflow-x: hidden;
	flex-shrink: 0;
	z-index: 100;
	padding-right: 8px;

	div.menu-wrapper {
		height: 100%;
		background-color: @hxg-lightgrey;
		box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
	}

	div.page-setup {
		padding: 1rem 2rem;

		select {
			font-size: 15px;
			padding: 2px;
		}
	}
	
	div.properties {
		height: 270px;
		bottom: 0;
		position: absolute;
		width: 100%;
	}

	input.prio {
		font-weight: bold;
	}

	input.slave {
		font-style: italic;
	}
}

section.properties {
	
	background-color: @hxg-lightgrey;
	margin-left: -226px;
	transition: margin-left .3s;
	flex-shrink: 0;
	width: 270px;
	position: relative;
	z-index: 70;

	.icon-collapse {
		position: absolute;
		right: 0; 
		z-index: 100;
		padding: 9px 0;

		.hamburger-box {
			width: 36px;
		}

		&:hover {
			.hamburger-inner, .hamburger-inner:before, .hamburger-inner:after {
				background-color: @hxg-blue;
			}
		}

		&, * {
			opacity: 1 !important;
		}
	}

	* {
		opacity: 0;
		transition: opacity .6s;
	}

	&.toggled {
		margin-left: -8px;
		transition: margin-left .3s;

		> ul, ul * {
			opacity: 1;
			transition: opacity .6s;
		}
	}
}

section.canvas {
	
	background: @hxg-lightergrey; 
	background: -webkit-linear-gradient(left top, @hxg-lightergrey, #aaa); 
	background: -o-linear-gradient(bottom right, @hxg-lightergrey, #aaa); 
	background: -moz-linear-gradient(bottom right, @hxg-lightergrey, #aaa);
	background: linear-gradient(to bottom right, @hxg-lightergrey, #aaa); 
	
	overflow: auto;
	flex-grow: 1;

	div.le-canvas-container {
		padding: 20px;

		> div {
			background-color: white;
			box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
			
			&:focus {
				outline: none;
			}
		}

		canvas.le-canvas.copy {
			cursor: copy !important;
		}
	}
}

div.dimensions {


	.icon {
		display: inline-block;
		&.width {
			.rotate(270deg);
		}
	}
}

div.positions {

	display: flex;
	flex-direction: column;
	align-items: stretch;

	div {
		display: flex;
	}

	> div {
		align-self: center
	}

	span.unit {
		margin-left: 4px;
	}

	> div.top, > div.bottom {
		margin-left: 20px;
	}

	> div.bottom {
		margin-top: 2px;
	}

	div.horizons {
		flex-direction: row;
		align-items: center;

		table.arrows {
			table-layout: fixed;

			.icon {

				color: #999;
				transition: color .3s;
				font-size: 22px;
				cursor: pointer;

				&.locked {
					color: @hxg-red;
					transition: color .6s;
				}

				&.right {
					.rotate(90deg);
				}
				&.bottom {
					.rotate(180deg);
				}
				&.left {
					.rotate(270deg);
				}
			}
		}
	}
} 