<script type="text/html" id="elementList-template">
    <span class="title" data-bind="click: () => { isToggled(!isToggled()) }">
        <i class="elements mapp-layout-editor-i-hehe"></i>
        Elements
    </span>
    <div class="li-content open-border">
        <ul class="elements" data-bind="element: domElementList, foreach: editor.elements">
            <li class="element" class="ui-state-default" data-bind="click: () => { menu.selectElement($data) } , css: { selected: menu.isSelected($data) }">
                <div>
                    <span data-bind="text: id"></span><i data-bind="click: () => { if(menu.isSelected($data)) menu.removeElement($data) }" class="elements mapp-layout-editor-i-remove"></i>
                </div>
            </li>
        </ul>
    </div>
</script>