<script type="text/html" id="menu-template">

    <label for="ul-templates">Templates</label>
    <ul id="ul-templates">
        <li data-bind="click: addFrame">
            Frame
        </li>
    </ul>

    <label for="ul-object">Elements</label>
    <div data-bind="with: canvas">
        <ul data-bind="foreach: elements">
            <li data-bind="click: $parents[1].selectObject">
                <span data-bind="text: data.name"></span>
                (Id: <span data-bind="text: data.id"></span>)
            </li>
        </ul>
    </div>
</script>