<script type="text/html" id="menu-template">

    <label>Page setup</label>
    <div class="page-setup">
        <select data-bind="options: pageSizes, optionsText: 'name', value: selectedPageSize, event:{ change: setPageSize}"></select>
    </div>

    <label>Templates</label>
    <ul>
        <li data-bind="click: addFrame">
            Frame
        </li>
    </ul>

    <label>Elements</label>
    <div data-bind="with: canvas">
        <ul data-bind="foreach: {data: elements, as: 'element'}">
            <li data-bind="click: menu.selectObject">
                <span data-bind="text: element.getName()"></span>
                (Id: <span data-bind="text: element.getId()"></span>)
            </li>
        </ul>
    </div>

    <div class="properties" data-bind="with: canvas">
    <label>Properties</label>
        <table>
            <tr>
                <td>Width</td>
                <td><input type="text" data-bind="value: selectedObject.width.displayValue" /></td>
                <td><input type="checkbox" data-bind="checked: selectedObject.width.showRelative" />%</td>
                <td><input type="checkbox" data-bind="checked: selectedObject.width.isAbsolute, disable: selectedObject.width.showRelative()" />Abs</td>
            </tr>
            
            <tr>
                <td>Height</td>
                <td><input type="text" data-bind="value: selectedObject.height.displayValue" /></td>
                <td><input type="checkbox" data-bind="checked: selectedObject.height.showRelative" />%</td>
                <td><input type="checkbox" data-bind="checked: selectedObject.height.isAbsolute, disable: selectedObject.height.showRelative()" />Abs</td>
            </tr>
            
            
            <tr>
                <td>Top</td>
                <td><input type="text" data-bind="value: selectedObject.top.displayValue, style: { fontWeight: selectedObject.top.lastSet() ? 'bold' : '' }" /></td>
                <td><input type="checkbox" data-bind="checked: selectedObject.top.showRelative" />%</td>
                <td><input type="checkbox" data-bind="checked: selectedObject.top.isAbsolute, disable: selectedObject.top.showRelative()" />Abs</td>
            </tr>

            <tr>
                <td>Right</td>
                <td><input type="text" data-bind=" value: selectedObject.right.displayValue, style: { fontWeight: selectedObject.right.lastSet() ? 'bold' : '' }" /></td>
                <td><input type="checkbox" data-bind="checked: selectedObject.right.showRelative" />%</td>
                <td><input type="checkbox" data-bind="checked: selectedObject.right.isAbsolute, disable: selectedObject.right.showRelative()" />Abs</td>
            </tr>

            <tr>
                <td>Bottom</td>
                <td><input type="text" data-bind=" value: selectedObject.bottom.displayValue, style: { fontWeight: selectedObject.bottom.lastSet() ? 'bold' : '' }" /></td>
                <td><input type="checkbox" data-bind="checked: selectedObject.bottom.showRelative" />%</td>
                <td><input type="checkbox" data-bind="checked: selectedObject.bottom.isAbsolute, disable: selectedObject.bottom.showRelative()" />Abs</td>
            </tr>

            <tr>
                <td>Left</td>
                <td><input type="text" data-bind="value: selectedObject.left.displayValue, style: { fontWeight: selectedObject.left.lastSet() ? 'bold' : '' }" /></td>
                <td><input type="checkbox" data-bind="checked: selectedObject.left.showRelative" />%</td>
                <td><input type="checkbox" data-bind="checked: selectedObject.left.isAbsolute, disable: selectedObject.left.showRelative()" />Abs</td>
            </tr>
        </table>
    </div>
</script>