<script type="text/html" id="menu-template">

    <div class="menu-wrapper">
        <ul class="menu">
            <li data-bind="template: {name: 'pageSetup-template', data: pageSetup}, css: pageSetup.css" class="page-setup"> </li>
            <li data-bind="template: {name: 'templateList-template', data: templateList}, css: templateList.css" class="templates"> </li>
            <li data-bind="template: {name: 'elementList-template', data: elementList}, css: elementList.css" class="elements"> </li>
        </ul>
    </div>
</script>