<script type="text/html" id="templateList-template">
    <span class="title" data-bind="click: () => { isToggled(!isToggled()) }">
        <i class="mapp-layout-editor-i-handle-streamline-vector"></i>
        Templates
    </span>
    <div class="li-content" data-bind="foreach: templates">
        <div class="template-item" data-bind="click: addElement">
            <div>
                <i class="template-icon" data-bind="css: icon"></i><a><span data-bind="text: displayText" />
            <div>
        </div>
    </div>
</script>